<!-- Content Wrapper. Contains page content -->
<div class="col-md-9 content-wrapper">
<!-- Content Header (Page header) -->
<section class=" my-3 content-header">
  <h2>
    Posts da categoria <strong>{$category.category}</strong> 
  </h2>
  
</section>

<!-- Main content -->
<section class="content my-5">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                <h4 class="box-title">Todos posts</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body border-top">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Produto</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$noReletedPosts"}
                            <tr>
                            <td>{$value.idpost}</td>
                            <td>{$value.title}</td>
                            <td class="">
                                <a href="/admin/categories/{$category.idcategory}/post/{$value.idpost}/add" class="btn-sm btn btn-primary"><i class="bi bi-arrow-right"></i> Adicionar</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                <h4 class="box-title">Posts na Categoria <strong>{$category.category}</strong> </h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body border-top">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Produto</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$reletedPosts"}
                            <tr>
                            <td>{$value.idpost}</td>
                            <td>{$value.title}</td>
                            <td>
                                <a href="/admin/categories/{$category.idcategory}/post/{$value.idpost}/remove" class="btn-sm btn btn-danger btn-xs pull-right"><i class="bi bi-arrow-left"></i> Remover</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->