

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Categorias</h1>


        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
             <a href="/admin/categories/create" class="btn btn-primary btn-sm"> <i class="bi bi-tags-fill"></i> Criar Categorias</a>
          </div>

          <form class="d-flex" role="search" action="/admin/categories">
            <input class="form-control me-2" name="search" type="search" placeholder="Pesquisar" aria-label="Search" autofocus value="{$search}">
            <button class="btn btn-success" type="submit">Pesquisar</button>
          </form>
        </div>

      
      </div>

    

     <div class="mt-4 w-100">
             
               <div class="table">
                 <table class="table table-striped ">
                  <thead>
                      <th>#</th>
                      <th>Nome da categoria</th>
                     
                      
                      
                      <th> Ações </th>
                  </thead>

                   <tbody>

                    {loop="$categories"}
                       <tr>
                         <td>{$value.idcategory}</td>
                         <td>{$value.category}</td>
                        
                         
                         <td>
                             <a href="/admin/categories/{$value.idcategory}/posts"><button class="btn btn-warning text-white btn-sm"><i class="bi bi-search"></i> </button></a>

                             <a href="/admin/categories/{$value.idcategory}"><button class="btn btn-warning text-white btn-sm"><i class="bi bi-pencil-fill"></i> </button></a>

                             <a href="/admin/categories/{$value.idcategory}/delete"><button class="btn btn-danger text-white btn-sm" onclick="return confirm('Deseja mesmo deletar o usuário {$value.category} !??')"><i class="bi bi-trash-fill"></i> </button></a>
                             
                         </td>
                       {/loop}


                   </tbody>
                 </table>


               </div>
             
          </div>
     


<!-----PAGINATION--------->
     <nav class="my-2" aria-label="Page navigation example">
      <ul class="pagination my-2 justify-content-center">
        <li class="page-item disabled">
          <a class="page-link">Anterior</a>
        </li>
        {loop="$pages"}
        <li class="page-item"><a class="page-link" href="{$value.href}">{$value.text}</a></li>
        {/loop}
        <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
      </ul>
    </nav>
    </main>
  </div>
</div>
