 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Posts</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href="/admin/post/create" class="text-white text-decoration-none"> <button class="btn btn-sm btn-primary"> <i class="bi bi-newspaper"></i>  Criar Post</button></a>
           
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi"><use xlink:href="#calendar3"/></svg>
            This week
          </button>
        </div>
      </div>

    

     <!-- Conteúdo Principal -->
    <main>
    <div class="container content">
        <div class="row">
            <!-- Artigos Recentes -->
            <div class="col-md-12">
                <h2></h2>
                <div class="row justify-content-center">

                   {loop="$posts"}
                    <div class="col-md-4 article-card mb-2">
                        <div class="card">
                            <img src="../assets/photo1.jpg" class="card-img-top w-100" alt="Artigo 2" style="">
                            <div class="card-body">
                                <div class="d-block border-bottom">
                                <h5 class="card-title text-uppercase text-justify w-100" style="font-size: 12pt; font-weight: bolder;">{$value.title}</h5>
                                 Data: <span style="color: blue">{function="formatDate($value.dtregister)"}</span> <br>
                                  Editado por: <span style="color: blue; cursor: pointer;">{$value.name}</span>
                              </div>

                                <p class="card-text">{function="limitText($value.content)"}</p>

                              <div class=" justify-content-center">
                                    
                                <a href="/posts/{$value.url}" class="btn btn-primary"> Ler mais</a>
                                <a href="/admin/post/{$value.idpost}" class="btn btn-warning text-white"><i class="bi bi-pencil-fill"></i></a>
                                <a href="/admin/post/{$value.idpost}/delete" onclick="return confirm('Deseja deletar esta publicação?')" class="btn btn-danger" data-target="#deleteModal" ><i class="bi bi-trash-fill"></i></a>


                             </div>

                            </div>
                        </div>
                    </div>
                  {/loop}
                   
                </div>
                  
            </div>
        </div>
    </div>
</main>

    </main>
  </div>
</div>

