
 <main id="main">
    <section class="single-post-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
             <div class="post-title text-center">
               <h2 class="display-5 mt-4 mb-4" style="text-transform: uppercase; font-size:25pt;font-weight:bold; ">{$post.title}</h2>
               <span class="blog-post-meta mr-2 ">
                Editado por :<a href="#" class="text-decoration-none" style="color:red;"> {$post.name}</a>
               </span>, 
              <span class="blog-post-meta">{function="formatDate($post.dtregister)"}</span>
             
            <hr>
             </div>


            <div class="single-post">
              <figure class="my-4">
                <img src="/assets/img/post-landscape-1.jpg" alt="" class="img-fluid">
                
              </figure>


      <article class="blog-post">
        
        <div style="text-align: justify;">
           {function="clean($post.content)"}
        </div>


        {loop="$comments"}
        <div class="card shadow my-5">
        <div class="card-header d-flex justify-content-between">
          <p class=""><a class="page-link" href="">{$value.name}</a></p>
          <p>{$value.dtregister}</p>
        </div>

        <div class="card-body">
         
          <p class="card-text">{$value.content}</p>
         
        </div>
      </div>
      {/loop}
    </article>

  </div><!-- End Single Post Content -->


            <!-- ======= Comments Form ======= -->
     <form class="mb-3 float-right" action="/post/comments/{$post.idpost}" method="POST">

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Deixe o seu comentário</label>
    <textarea rows="2"  name="content" class="form-control border-primary" id="exampleFormControlTextarea1" rows="3" placeholder="Escrever..."></textarea>
  </div>

  <input type="submit" class="btn btn-primary" value="Comentar">
</form>
          </div>
          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                  
                 <ul class="list-unstyled">
                        {loop="$posts"}
                        <li>
                          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="/posts/{$value.url}">
                           <img src="../assets/cleep.jpg" style="width: 100px; height: 100px;">
                            <div class="col-lg-8">
                              <h6 class="mb-0">{$value.title}</h6>
                              <small class="text-body-secondary">{function="formatDate($value.dtregister)"}</small>
                            </div>
                          </a>
                        </li>

                  {/loop}
                </ul>

                  
                </div> <!-- End Popular -->

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="/assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->

            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                
                  {include="categories-menu"}
              </ul>
            </div><!-- End Categories -->

            
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->





